<footer class="footer row-fluid container">
  <div class="span6">
    <%= link_to(t(:home), '/'+locale.to_s) %>
    /
    <%= link_to(t(:about), about_path) %>
    /
    <%= link_to(t(:services), services_path) %>
    /
    <%= link_to(t(:contacts), contacts_path) %>
  </div>
  <div class="span6">
    <p class="muted pull-right"><small><%= t(:copyright) %></small></p>
  </div>
  <div class="row-fluid">
    <div class="span12 text-center">
      <%= raw t(:dev_ref) + ' &rarr; ' %><a style="color: #08c" href="http://www.dedest.com">dedest.com</a>
    </div>
  </div>
</footer>