<div class="navbar navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <%= link_to t(:profession)+' '+t(:myname), '/'+locale.to_s, class: 'brand hidden-phone' %>
      <%= link_to t(:myname), '/'+locale.to_s, class: 'brand visible-phone' %>
      <div class="nav-collapse">
        <%= menu_group do %>
            <%= menu_divider %>
            <%= menu_item t(:about), about_path %>
            <%= menu_divider %>
            <%= menu_item t(:services), services_path %>
            <%= menu_divider %>
            <%= menu_item t(:contacts), contacts_path %>
            <%= menu_divider %>
            <li class="dropdown visible-desktop">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= image_tag(:en == locale ? 'us-flag.png' : 'ru-flag.png') %> <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li class="nav-header"><%= t(:language) %></li>
                <li class="divider"></li>
                <%= menu_item 'English', '/en' %>
                <%= menu_item 'Русский', '/ru' %>
                <%#= menu_item 'English', locale: 'en' %>
                <%#= menu_item 'Русский', locale: 'ru' %>
              </ul>
            </li>
            <ul class="nav hidden-desktop">
                <li class="nav-header"><%= t(:language) %></li>
                <li class="divider"></li>
                <%= menu_item 'English', '/en' %>
                <%= menu_item 'Русский', '/ru' %>
            </ul>
            <%= menu_divider %>
        <% end %>
        <%= menu_group pull: 'right' do %>
            <li class="white contact-phone"><h4>096 727 01 21</h4></li>
            <%= menu_divider %>
            <li id="nav-message"><%= link_to image_tag('message.png', :id => 'nav-message-img') %></li>
        <% end %>
      </div>
    </div>
  </div>
</div>