<header>
  <nav class="navbar navbar-inverse">
    <div class="navbar-inner">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <%= link_to t(:myname), root_path, class: 'brand' %>
      <div class="nav-collapse">
        <ul class="nav" role="navigation">
          <li class="divider-vertical"></li>
          <li class="<%= 'active' if params[:action] == 'about' %>"><%= link_to(t(:about), about_path) %></li>
          <li class="divider-vertical"></li>
          <li class="<%= 'active' if params[:action] == 'services' %>"><%= link_to(t(:services), services_path) %></a></li>
          <li class="divider-vertical"></li>
          <li class="<%= 'active' if params[:action] == 'contacts' %>"><%= link_to(t(:contacts), contacts_path) %></li>
          <li class="divider-vertical"></li>
          <li class="dropdown">
            <a href="#" id="languages-label" class="dropdown-toggle" data-toggle="dropdown">
              <%= image_tag(:en == locale ? 'us-flag.png' : 'ru-flag.png') %>
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="languages-label">
              <li class="<%= 'active' if params[:locale] == 'en' %>"><a tabindex="-1" href="<%= request.path %>?locale=en">English</a></li>
              <li class="<%= 'active' if params[:locale] == 'ru' %>"><a tabindex="-1" href="<%= request.path %>?locale=ru">Русский</a></li>
            </ul>
          </li>
          <li class="divider-vertical"></li>
        </ul>
        <ul class="nav pull-right">
          <li class="white contact-phone"><h4>+ 38 (095) 6500869</h4></li>
          <li class="divider-vertical"></li>
          <li id="nav-message"><%= link_to image_tag('message.png', alt: 'message', id: 'nav-message-img') %></li>
        </ul>
      </div>
    </div>
  </nav>
  <%= nav_bar brand: t(:profession)+' '+t(:myname), brand_link: '/'+locale.to_s, responsive: true, inverse: true do %>
      <%= menu_group do %>
          <%= menu_divider %>
          <%= menu_item t(:about), about_path %>
          <%= menu_divider %>
          <%= menu_item t(:services), services_path %>
          <%= menu_divider %>
          <%= menu_item t(:contacts), contacts_path %>
          <%= menu_divider %>
          <%= drop_down image_tag(:en == locale ? 'us-flag.png' : 'ru-flag.png') do %>
              <%= menu_item "English", locale: 'en' %>
              <%= menu_item "Русский", locale: 'ru' %>
          <% end %>
          <%= menu_divider %>
      <% end %>
      <%= menu_group pull: 'right' do %>
          <li class="white contact-phone"><h4>096 727 01 21</h4></li>
          <%= menu_divider %>
          <li id="nav-message"><%= link_to image_tag('message.png', :id => 'nav-message-img') %></li>
      <% end %>
  <% end %>
</header>