<div id="about-page" class="pages">
  <div class="row">
    <div class="span4">
      <p class="lead"><%= t(:photo) %></p>
      <ul class="thumbnails" style="position: relative">
        <li class="photo">
          <%= image_tag('me.jpg', class: 'thumbnail', alt: '370x400') %>
        </li>
        <div class="about-sticker">
          <%= image_tag (locale == :en ? 'sticker2eng-small.png' : 'sticker2ru-small.png') %>
        </div>
      </ul>
    </div>
    <div class="span8">
      <p class="lead"><%= t(:about) %></p>
      <section>
        <div class="page-header name">
          <h2 class="name"><%= t(:longname) %><br>
            <small class="profession"><%= t(:profession) %></small>
          </h2>
        </div>
          <p><%= t(:about_text_html) %></p>
      </section>
    </div>
  </div>
</div>
<script type="text/javascript">
  $('.about-sticker').draggable({
      handle: '.about-sticker-header',
      containment: "#about-page",
      scroll: false
  })
</script>