<div id="contact-page" class="pages">
  <div class="row">
    <div class="span8">
      <p class="lead"><%= t(:roadmap)%></p>
      <div id="map-canvas" class="shadow-effect" style="height: 100%; width: 100%; margin-bottom: 20px">
        <img src="http://maps.googleapis.com/maps/api/staticmap?center=47.841218,35.1193228&zoom=16&size=640x480&scale=2&sensor=true&markers=color:blue%7Clabel:A%7C47.841218,35.1193228">
      </div>
    </div>
    <div class="span4">
      <p class="lead"><%= t(:address) %></p>
      <address>
        <%= t(:address_text_html) %>
        <abbr title="Phone">Tel:</abbr>&nbsp;061-707-97-79<br>
        <abbr title="Phone">Tel:</abbr>&nbsp;096 727-01-21<br>
        <abbr title="Phone">Tel:</abbr>&nbsp;050-202-16-18
      </address>
      <address>
        <strong><%= t(:myname) %></strong><br>
        <a href="mailto:a.v.barskaya@gmail.com">a.v.barskaya@gmail.com</a>
      </address>
      <p class="lead"><%= t(:open_hours) %></p>
      <address>
        <%= t(:open_hours_text_html) %>
      </address>
    </div>
  </div>
</div>