<div id="home-page" class="pages">
    <div id="home-slide-wrapper" class="shadow-effect">
      <div id="home-slides" class="slide-1">
        <% i = 1; while i < 5 do %>
            <% slide_id = "slide-#{i.to_s}" %>
            <% slide_header = "slide_header_#{i.to_s}".to_sym %>
            <% slide_text = "slide_text_#{i.to_s}".to_sym %>
            <% slide_image = "slide_image_#{i.to_s}.jpg" %>
            <div id="<%= slide_id %>" class="row slides <%= 'active' if i==1 %>">
              <div class="span6">
                <div class="hero-unit">
                  <span class="slider-header"><%= t(slide_header).capitalize %></span>
                  <p class="slider-text"><%= t(slide_text).capitalize %></p>
                </div>
              </div>
              <div class="span6 slider-img-wrap">
                <%= image_tag(slide_image, :class => 'dropshadow slider-img') %>
              </div>
            </div>
        <% i+=1 %>
        <% end %>
      </div>
      <div class="row-fluid no-space slider-buttons">
        <div class="span3 active" value="slide-1"><h4><%= t(:together) %></h4></div>
        <div class="span3" value="slide-2"><h4><%= t(:connections) %></h4></div>
        <div class="span3" value="slide-3"><h4><%= t(:time) %></h4></div>
        <div class="span3" value="slide-4"><h4><%= t(:responsibility) %></h4></div>
      </div>
    </div>
    <div id="services" class="row-fluid no-space">
      <% i = 1; until i == 5 do %>
          <% services_header = 'services_header_'+i.to_s %>
          <% services_text = "services_text_#{i.to_s}_html" %>
          <div class="span3 service service<%= i.to_s %>">
            <a href="<%= services_path+"#service#{i.to_s}" %>">
              <h4 class="text-center"><%= t(services_header.to_sym).capitalize %></h4>
              <p>
                <% if locale == :en %>
                <%= truncate(t(services_text.to_sym), length: 250, separator: ' ') {raw(' &rarr;')} %>
                <% else %>
                <%= truncate(t(services_text.to_sym), length: 250, separator: ' ') {raw(' &rarr;')} %>
                <% end %>
              </p>
            </a>
          </div>
      <% i+=1  %>
      <% end  %>
    </div>
    <div id="reviews" class="row-fluid shadow-effect hidden-phone">
      <div class="row">
        <h2 class="text-center"><%= t(:reviews) %></h2>
      </div>
      <div class="reviews-wrapper">
        <% i = 1; while i < 5 do %>
        <% review_id = "review-#{i.to_s}" %>
        <% review_photo = "review_photo#{i.to_s}.jpg" %>
        <% review_name = "reviews_name_#{i.to_s}".to_sym %>
        <% review_title = "reviews_title_#{i.to_s}".to_sym %>
        <% review_text = "reviews_text_#{i.to_s}".to_sym %>
        <div id="<%= review_id %>" class="row review <%= 'active' if i==1 %>">
          <div class="review-wrapper">
            <div class="span2 review-photo">
              <%= image_tag(review_photo, :class => 'img-polaroid') %>
            </div>
            <h3><%= t(review_name) %></h3>
            <h4><%= t(review_title) %></h4>
            <br>
            <p class="lead">
              <em>
                <blockquote>"<%= t(review_text) %>"</blockquote>
              </em>
            </p>
          </div>
        </div>
        <% i += 1 %>
        <% end %>
      </div>
      <div class="row review-buttons">
        <div class="span4 offset4">
          <ul class="inline text-center">
            <li class="btn slide-circle active" value="review-1">1</li>
            <li class="btn slide-circle" value="review-2">2</li>
            <li class="btn slide-circle" value="review-3">3</li>
            <li class="btn slide-circle" value="review-4">4</li>
          </ul>
        </div>
      </div>
    </div>
</div>
<script type="text/javascript">
  $('a.brand').click(function(event){
      event.preventDefault();
  })
</script>