<div id="services-page" class="pages">
  <div class="row">
    <div class="span12">
      <div class="service-banner text-right shadow-effect">
        <%= t(:services_banner_text_html) %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="span3">
      <p class="lead"><%= t(:services) %></p>
      <ul class="nav nav-pills nav-stacked" id="services-sidebar">
        <li><a href="#service1" data-toggle="tab"><%= t(:services_header_1).capitalize %></a></li>
        <li><a href="#service2" data-toggle="tab"><%= t(:services_header_2).capitalize %></a></li>
        <li><a href="#service3" data-toggle="tab"><%= t(:services_header_3).capitalize %></a></li>
        <li><a href="#service4" data-toggle="tab"><%= t(:services_header_4).capitalize %></a></li>
      </ul>
    </div>
    <div class="span9 tab-content">
      <p class="lead"><%= t(:description) %></p>
      <% i=1; while i < 5 do %>
      <% service_id = "service#{i.to_s}" %>
      <% service_text = "services_text_#{i.to_s}_html".to_sym %>
      <section class="tab-pane fade in" id="<%= service_id %>">
        <blockquote>
          <p>
            <small>
              <%= raw t(service_text) %>
            </small>
          </p>
        </blockquote>
      </section>
      <% i += 1 %>
      <% end %>
    </div>
  </div>
</div>
<script type="text/javascript">
    $(document).ready(function(){
        if(window.location.hash) {
            var url_hash_raw = window.location.hash;
            var url_hash = window.location.hash.slice(1);
            $('#services-sidebar li a').each(function(){
                if($(this).attr('href') == url_hash_raw){
                    $(this).parent('li').addClass('active');
                }
            })
            $('.tab-content section').each(function(){
                if($(this).attr('id') == url_hash){
                    $(this).addClass('active');
                }
            })
        } else {
            $('#services-sidebar').find('li:first').addClass('active');
            $('.tab-content').find('section:first').addClass('active');
        }
    })
</script>