<button type="button" class="form-close close"><%= I18n.t(:close) %></button>
<div class="form-wrapper">
<h2><%= t(:contact_us) %></h2>
<h5><%= t(:contact_us_text) %></h5>
<%= form_for @message, url: contact_create_path, name: 'contact-form', class: 'contact-form', method: 'post' do |form| %>
    <%= form.text_field :full_name, placeholder: I18n.t(:full_name) %>
    <%= form.text_field :email, placeholder: I18n.t(:email) %>
    <%= form.text_field :phone, placeholder: I18n.t(:phone) %>
    <%= form.text_field :subject, placeholder: I18n.t(:subject) %>
    <%= form.text_area :message, placeholder: I18n.t(:message_placeholder), :size => '20x5' %>
    <%= form.submit I18n.t(:submit), class: 'btn btn-info' %>
<% end %>
</div>