// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body{
  height: 100%;
  //font-family: "georgia";
  //font-family: "tahoma";
  font-family: 'Ubuntu', sans-serif;
  //letter-spacing:1px;
  //font-family: 'Open Sans Light',sans-serif;
}

ul li{
  list-style-type: none;
}

@mixin transitions-200 {
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

@mixin opacity-transition {
  -webkit-transition: opacity .2s linear;
  -moz-transition: opacity .2s linear;
  -o-transition: opacity .2s linear;
  transition: opacity .2s linear;
}

@mixin white{
  color: rgba(255, 255, 255, 1);
}

@mixin bg-white{
  background-color: rgba(255, 255, 255, 1);
}

@mixin dropshadow {
  box-shadow: 0px 0px 20px -5px #000;
}

.white{
  @include white;
}

.bg-white{
  @include bg-white;
}

.center{
  margin: 0 auto;
}

.dropshadow{
  @include dropshadow;
}

body{
  background-color: #f3f3f3;
}

.pages{
  margin-top: 20px
}

.relative{
  position: relative;
}

img{
  @include opacity-transition;
}

blockquote small:before {
  content: '';
}

textarea{
  resize: none;
  max-height: 400px;
}

.flags{
  width: 26px;
}

.content {
  min-height: 550px;
  @include bg-white;
  padding: 20px;
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 0 15px 2px #333;
  -moz-box-shadow: 0 0 15px 2px #333;
  box-shadow: 0 0 15px 2px #333;
  //margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
}

#services p, #reviews blockquote, #services-page section{
  text-align: justify;
  text-justify: distribute;
  //word-wrap: break-word;
  //word-break: break-all;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

.lead{
  background: #f1e767; /* Old browsers */
  background: -moz-linear-gradient(top, #f1e767 0%, #feb645 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f1e767), color-stop(100%,#feb645)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f1e767 0%,#feb645 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f1e767 0%,#feb645 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #f1e767 0%,#feb645 100%); /* IE10+ */
  background: linear-gradient(to bottom, #f1e767 0%,#feb645 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1e767', endColorstr='#feb645',GradientType=0 ); /* IE6-9 */
  padding-left: 20px;
  border-radius: 5px;
}

#nav-message{
  cursor: pointer;
}

#nav-message-img{
  width: 30px;
}

.contact-phone{
  margin-right: 10px;
  h4{
    font-weight: 200;
  }
}

.shadow-effect
{
  box-shadow: 0 15px 30px -10px #333;
}

#contact-form{
  display: none;
  position: fixed;
  top: 0;
  left: auto;
  right: 0px;
  height: 100%;
  width: 260px;
  padding: 20px;
  overflow: hidden;
  background: #4c4c4c; /* Old browsers */
  background: -moz-linear-gradient(top, #4c4c4c 0%, #595959 0%, #111111 0%, #666666 39%, #2b2b2b 76%, #1c1c1c 91%, #474747 100%, #131313 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4c4c4c), color-stop(0%,#595959), color-stop(0%,#111111), color-stop(39%,#666666), color-stop(76%,#2b2b2b), color-stop(91%,#1c1c1c), color-stop(100%,#474747), color-stop(100%,#131313)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #4c4c4c 0%,#595959 0%,#111111 0%,#666666 39%,#2b2b2b 76%,#1c1c1c 91%,#474747 100%,#131313 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #4c4c4c 0%,#595959 0%,#111111 0%,#666666 39%,#2b2b2b 76%,#1c1c1c 91%,#474747 100%,#131313 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #4c4c4c 0%,#595959 0%,#111111 0%,#666666 39%,#2b2b2b 76%,#1c1c1c 91%,#474747 100%,#131313 100%); /* IE10+ */
  background: linear-gradient(to bottom, #4c4c4c 0%,#595959 0%,#111111 0%,#666666 39%,#2b2b2b 76%,#1c1c1c 91%,#474747 100%,#131313 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); /* IE6-9 */
  color: #FFF;
  -webkit-box-shadow: inset 0 0 5px 5px #222;

  input{
    margin-bottom: 10px;
  }

  h2{
    margin-top: 50px;
  }

  div.form-wrapper{
    margin-left: 17px;
  }
}

#home-page{
  .slider-buttons .span3, .slide-circle{
    @include transitions-200;
  }
  .slide-1{
    background-color: rgba(99, 180, 255, 1); /* Old browsers */
  }

  .slide-2{
    background-color: rgba(252, 145, 12, 1); /* Old browsers */
  }

  .slide-3{
    background-color: rgba(143, 140, 142, 1); /* Old browsers */
  }

  .slide-4{
    background-color: rgba(80, 107, 148, 1); /* Old browsers */
  }

  #home-slides{
    @include transitions-200;
    padding: 30px 0;
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 370px;

    .slider-img-wrap{
      margin: 0;
    }

    .slides{
      display: none;
      .slider-img{
        border-radius: 5px;
        border: 7px solid white;
        display: none;
      }
      .hero-unit{
        background: none;
        display: none;
        .slider-header{
          font-size: 2em;
          font-weight: bold;
          color: white;
          text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
        }
        p{
          margin-top: 30px;
        }
      }

    }
    .slides.active{
      display: block;
    }
  }
  .slider-buttons{
    background-color: rgba(0, 0, 0, 1);
    text-align: center;
    border-bottom: 3px solid #feb645;
    color: #999;
    .span3.active[value="slide-1"], .span3[value="slide-1"]:hover{
      background-color: rgba(99, 180, 255, 1);
    }
    .span3.active[value="slide-2"], .span3[value="slide-2"]:hover{
      background-color: rgba(252, 145, 12, 1);
    }
    .span3.active[value="slide-3"], .span3[value="slide-3"]:hover{
      background-color: rgba(143, 140, 142, 1);
    }
    .span3.active[value="slide-4"], .span3[value="slide-4"]:hover{
      background-color: rgba(80, 107, 148, 1);
    }
    .span3:hover{
      cursor: pointer;
    }
    .span3 h4{
      color: white;
      font-weight: normal;
    }
  }

  #services{
    h4{
      height: 30px;
      line-height: 25px;
      font-weight: normal;
    }
    .span3{
      padding: 10px;
    }
    .service{
      @include transitions-200;
      a:hover{
        text-decoration: none;
      }
      min-height: 260px;
    }
    .service:hover{
      @include dropshadow;
    }
    .service4:hover{
      background-color: rgba(80, 107, 148, 1); /* Old browsers */
    }
    .service3:hover{
      background-color: rgba(143, 140, 142, 1); /* Old browsers */
    }
    .service2:hover{
      background-color: rgba(252, 145, 12, 1); /* Old browsers */
    }
    .service1:hover{
      background-color: rgba(99, 180, 255, 1); /* Old browsers */
    }
  }

  #reviews{
    background: #f1e767;
    background: -moz-linear-gradient(top, #f1e767 0%, #feb645 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f1e767), color-stop(100%, #feb645));
    background: -webkit-linear-gradient(top, #f1e767 0%, #feb645 100%);
    background: -o-linear-gradient(top, #f1e767 0%, #feb645 100%);
    background: -ms-linear-gradient(top, #f1e767 0%, #feb645 100%);
    background: linear-gradient(to bottom, #f1e767 0%, #feb645 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1e767', endColorstr='#feb645',GradientType=0 );
    padding: 20px 0;

    .reviews-wrapper{
      min-height: 380px;
      width: 100%;

      .review{
        display: none;
        float: none;
        margin: 0 auto;
        max-width: 724px;
        background: asset-url('squaredpaper.png');

        .review-wrapper{
          padding: 20px 50px;
        }

        .review-photo{
          margin-right: 20px;
        }
      }
    }
    .review-buttons{
      margin-top: 10px;
    }
  }

  .slide-circle{
    width: 10px;
    height: 20px;
    background-color: #999;
    opacity: 0.5;
    margin-right: 5px;
    border: 1px solid black;
    -webkit-box-shadow: 0 0 2px 2px #333;
    -moz-box-shadow: 0 0 2px 2px #333;
    box-shadow: 0 0 2px 2px #333;
    //border-radius: 50%;
  }

  .slide-circle:hover, .slide-circle.active{
    opacity: 1;
    cursor: pointer;
    -webkit-box-shadow: 0 0 10px 2px #333;
    -moz-box-shadow: 0 0 10px 2px #333;
    box-shadow: 0 0 10px 2px #333;
  }
}

//.plane{
//  position: absolute;
//  width: 100px;
//  height: 50px;
//}
//
//#plane1{
//  left: -10%;
//  top: 70%;
//}
//
//#plane2{
//  left: 100%;
//  top: 70%;
//  -moz-transform: scaleX(-1);
//  -o-transform: scaleX(-1);
//  -webkit-transform: scaleX(-1);
//  transform: scaleX(-1);
//  filter: FlipH;
//  -ms-filter: "FlipH";
//}

#about-page{
  .span8{
    section{
      p{
        text-align: justify;
      }
    }
  }
  .name{
    font-weight: normal;
  }
  .photo{
    box-shadow: 0 30px 30px -30px #333;
    img{
      max-width: 96.7%;
    }
  }
  .profession{

  }
  .about-sticker{
    position: absolute;
    width: 70%;
    height: 58%;
    right: -5%;
    bottom: -20%;
    padding: 5px 10px;
  }
}

#contact-page{
  address{
    padding-left: 20px;
    padding-right: 18px;
    .row{
      margin-left: 0;
    }
  }
}

#services-page{
  ol{
    counter-reset: li; /* Initiate a counter */
    list-style: none; /* Remove default numbering */
    *list-style: decimal; /* Keep using default numbering for IE6/7 */
    font: 15px 'trebuchet MS', 'lucida sans';
    padding: 0;
    margin-bottom: 4em;
    margin-top: 2em;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
  }

  ol ol{
    margin: 0 0 0 2em; /* Add some left margin for inner lists */
  }

  .rounded-list span{
    position: relative;
    display: block;
    padding: .4em .4em .4em 2em;
    *padding: .4em;
    margin: .5em 0;
    background: #ddd;
    color: #444;
    text-decoration: none;
    border-radius: .3em;
    transition: all .3s ease-out;
  }

  .rounded-list span:hover{
    background: #eee;
  }

  .rounded-list span:hover:before{
    transform: rotate(360deg);
  }

  .rounded-list span:before{
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: -1.3em;
    top: 50%;
    margin-top: -1.3em;
    background: #f1e767;
    background: -moz-linear-gradient(top, #f1e767 0%, #feb645 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f1e767), color-stop(100%, #feb645));
    background: -webkit-linear-gradient(top, #f1e767 0%, #feb645 100%);
    background: -o-linear-gradient(top, #f1e767 0%, #feb645 100%);
    background: -ms-linear-gradient(top, #f1e767 0%, #feb645 100%);
    background: linear-gradient(to bottom, #f1e767 0%, #feb645 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1e767', endColorstr='#feb645',GradientType=0 );
    height: 2em;
    width: 2em;
    line-height: 2em;
    border: .3em solid #fff;
    text-align: center;
    font-weight: bold;
    border-radius: 2em;
    transition: all .3s ease-out;
  }
  .services-sidenav{
    margin: 30px 0 0;
    border: 1px solid #999;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
    box-shadow: 0 1px 4px rgba(0,0,0,.065);
    li > a {
      padding: 10px 15px;
    }
  }
  .service-banner{
    background: asset-url('service-banner.jpg');
    color: white;
    padding: 10px 20px;
    height: 82px;
    margin-bottom: 20px;
  }

  //section h1, section h2, section p{
  //  padding-left: 20px;
  //}
}

.footer{
  padding-top: 20px;
}


// ========= media queries =============================================================================================

@media screen and (min-width: 1200px){
  #about-page{
    margin-bottom: 70px;
  }
}

@media screen and (min-width: 979px){
  #nav-message{
    width: 60px;
  }
}

@media screen and (min-width: 979px) and (max-width: 1200px){
  .navbar{
    .contact-phone{
      text-align: right;
      position: absolute;
      right: 50px;
      width: 165px;
    }
    .dropdown{
      z-index: 1;
    }
  }
  #home-slides{
    height: 300px !important;
    .hero-unit{
      padding: 40px;
    }
  }
  #about-page{
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 979px){
  .hero-unit{
    padding: 0 60px;
  }
  .nav-collapse{
    text-align: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 978px){
  #home-page{
    #home-slides{
      height: 270px !important;
      .hero-unit{
        padding: 0 25px;
        .slider-header{
          font-size: 1.6em !important;
        }
      }
    }
  }
}

@media screen and (max-width: 767px){
  body{
    .content{
      padding: 0 5px;
      margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
    }
    //.pages{
    //  margin-top: 0;
    //}
    .navbar{
      .navbar-inner{
        .brand{
          padding: 8px 5px 5px;
        }
      }
    }
    #home-page{
      #services{
        .service{
          min-height: inherit;
        }
      }
    }
  }

  .slider-buttons{
    display: none;
  }

  #home-slides{
    height: 465px !important;
    padding-bottom: 0 !important;
    .hero-unit{
      padding: 0 25px;
      .slider-header{
        font-size: 1.6em !important;
      }
    }
  }

  #home-slides .slides .slider-img{
    border: none !important;
    border-radius: 0 !important;
  }

  #services.row-fluid.no-space .span3{
    width: 100%;
  }
  #services{
    div.span3 h4{
      height: auto !important;
    }
  }

  .footer{
    .span6 .muted{
      float:none;
    }
  }

  #about-page{
    .photo img{
      max-width: 97.7%;
    }
  }

  #services-page{
    .service-banner{
      padding: 10px 5px;
    }
  }
}