<%= t(:full_name) + ': ' + @message.full_name %>
<%= t(:email) + ': ' + @message.email %>
<%= t(:phone) + ': ' + @message.phone %>
<%= t(:subject) + ': ' +  @message.subject %>
<%= t(:message) + ': ' + @message.message %>