<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : t(:myname) %></title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-42788033-1', 'abarskaya.com');
    ga('send', 'pageview');
  </script>
  <%= csrf_meta_tags %>
  <link rel="author" href="https://plus.google.com/109674655432573806233" />
  <link rel="author" href="https://twitter.com/go7hic" />
  <link rel="author" href="https://www.facebook.com/ronen.verdi" />
  <meta name="description" content="<%= t(:profession) %>">
  <meta name="author" content="Ronen Verdi">
  <link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700|Roboto:400,300,500,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
  <%= yield(:head) %>
</head>
<body>
<div class="content container">
  <%= render partial: 'shared/header' %>
  <%= render partial: 'shared/flash_messages', flash: flash %>
  <%= yield %>
  <%= render partial: 'shared/footer' %>
  <div id="contact-form"></div>
</div>
</body>
</html>
